body{
	font-family: 'Signika', sans-serif;
	font-weight:300;
}
h1,h2,h3,h4,h5{ font-weight:600; }
pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    margin: auto 40px auto 40px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
} 
code { 
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline; 
    color: #555555;
    padding: 4px;
    background: #f4f4f4;
}
.grid-example{
	padding:10px 0;
	margin-bottom:40px; 
	background:#000000;
	text-align:center;
	color:#ffffff;
}
.grid-example-gutterless{
	&:nth-child(even){
		background:#cccccc;
	}
}

.container{
	width:100%;
}
.wrapper{
	width:96%;
	max-width:1200px;
	margin:auto;
}