/*! Grootstrap Version 1.0.0 */
/*! License: I am Groot */
/* line 11, grootstrap.scss */
.we-are-groot,
.wearegroot,
.We-Are-Groot,
.WeAreGroot,
.WE-ARE-GROOT,
.WEAREGROOT {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../Program Files (x86)/Prepros/gems/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.we-are-groot:after,
.wearegroot:after,
.We-Are-Groot:after,
.WeAreGroot:after,
.WE-ARE-GROOT:after,
.WEAREGROOT:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 22, grootstrap.scss */
.i-am-groot {
  width: 6.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 24, grootstrap.scss */
.i-am-groot:last-child {
  width: 6.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 28, grootstrap.scss */
.i-am-grooot {
  width: 15%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 30, grootstrap.scss */
.i-am-grooot:last-child {
  width: 15%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 34, grootstrap.scss */
.i-am-groooot {
  width: 23.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 36, grootstrap.scss */
.i-am-groooot:last-child {
  width: 23.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 40, grootstrap.scss */
.i-am-grooooot {
  width: 31.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 42, grootstrap.scss */
.i-am-grooooot:last-child {
  width: 31.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 46, grootstrap.scss */
.i-am-groooooot {
  width: 40%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 48, grootstrap.scss */
.i-am-groooooot:last-child {
  width: 40%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 52, grootstrap.scss */
.i-am-grooooooot {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 54, grootstrap.scss */
.i-am-grooooooot:last-child {
  width: 48.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 58, grootstrap.scss */
.i-am-groooooooot {
  width: 56.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 60, grootstrap.scss */
.i-am-groooooooot:last-child {
  width: 56.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 64, grootstrap.scss */
.i-am-grooooooooot {
  width: 65%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 66, grootstrap.scss */
.i-am-grooooooooot:last-child {
  width: 65%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 70, grootstrap.scss */
.i-am-groooooooooot {
  width: 73.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 72, grootstrap.scss */
.i-am-groooooooooot:last-child {
  width: 73.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 76, grootstrap.scss */
.i-am-grooooooooooot {
  width: 81.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 78, grootstrap.scss */
.i-am-grooooooooooot:last-child {
  width: 81.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 82, grootstrap.scss */
.i-am-groooooooooooot {
  width: 90%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 84, grootstrap.scss */
.i-am-groooooooooooot:last-child {
  width: 90%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 88, grootstrap.scss */
.i-am-grooooooooooooot {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 90, grootstrap.scss */
.i-am-grooooooooooooot:last-child {
  width: 98.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 96, grootstrap.scss */
  .I-Am-Groot {
    width: 6.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 98, grootstrap.scss */
  .I-Am-Groot:last-child {
    width: 6.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 102, grootstrap.scss */
  .I-Am-Grooot {
    width: 15%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 104, grootstrap.scss */
  .I-Am-Grooot:last-child {
    width: 15%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 108, grootstrap.scss */
  .I-Am-Groooot {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 110, grootstrap.scss */
  .I-Am-Groooot:last-child {
    width: 23.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 114, grootstrap.scss */
  .I-Am-Grooooot {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 116, grootstrap.scss */
  .I-Am-Grooooot:last-child {
    width: 31.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 120, grootstrap.scss */
  .I-Am-Groooooot {
    width: 40%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 122, grootstrap.scss */
  .I-Am-Groooooot:last-child {
    width: 40%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 126, grootstrap.scss */
  .I-Am-Grooooooot {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 128, grootstrap.scss */
  .I-Am-Grooooooot:last-child {
    width: 48.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 132, grootstrap.scss */
  .I-Am-Groooooooot {
    width: 56.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 134, grootstrap.scss */
  .I-Am-Groooooooot:last-child {
    width: 56.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 138, grootstrap.scss */
  .I-Am-Grooooooooot {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 140, grootstrap.scss */
  .I-Am-Grooooooooot:last-child {
    width: 65%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 144, grootstrap.scss */
  .I-Am-Groooooooooot {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 146, grootstrap.scss */
  .I-Am-Groooooooooot:last-child {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 150, grootstrap.scss */
  .I-Am-Grooooooooooot {
    width: 81.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 152, grootstrap.scss */
  .I-Am-Grooooooooooot:last-child {
    width: 81.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 156, grootstrap.scss */
  .I-Am-Groooooooooooot {
    width: 90%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 158, grootstrap.scss */
  .I-Am-Groooooooooooot:last-child {
    width: 90%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 162, grootstrap.scss */
  .I-Am-Grooooooooooooot {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 164, grootstrap.scss */
  .I-Am-Grooooooooooooot:last-child {
    width: 98.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media all and (min-width: 61.25em) {
  /* line 171, grootstrap.scss */
  .I-AM-GROOT {
    width: 6.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 173, grootstrap.scss */
  .I-AM-GROOT:last-child {
    width: 6.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 177, grootstrap.scss */
  .I-AM-GROOOT {
    width: 15%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 179, grootstrap.scss */
  .I-AM-GROOOT:last-child {
    width: 15%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 183, grootstrap.scss */
  .I-AM-GROOOOT {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 185, grootstrap.scss */
  .I-AM-GROOOOT:last-child {
    width: 23.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 189, grootstrap.scss */
  .I-AM-GROOOOOT {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 191, grootstrap.scss */
  .I-AM-GROOOOOT:last-child {
    width: 31.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 195, grootstrap.scss */
  .I-AM-GROOOOOOT {
    width: 40%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 197, grootstrap.scss */
  .I-AM-GROOOOOOT:last-child {
    width: 40%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 201, grootstrap.scss */
  .I-AM-GROOOOOOOT {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 203, grootstrap.scss */
  .I-AM-GROOOOOOOT:last-child {
    width: 48.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 207, grootstrap.scss */
  .I-AM-GROOOOOOOOT {
    width: 56.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 209, grootstrap.scss */
  .I-AM-GROOOOOOOOT:last-child {
    width: 56.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 213, grootstrap.scss */
  .I-AM-GROOOOOOOOOT {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 215, grootstrap.scss */
  .I-AM-GROOOOOOOOOT:last-child {
    width: 65%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 219, grootstrap.scss */
  .I-AM-GROOOOOOOOOOT {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 221, grootstrap.scss */
  .I-AM-GROOOOOOOOOOT:last-child {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 225, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOT {
    width: 81.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 227, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOT:last-child {
    width: 81.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 231, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOOT {
    width: 90%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 233, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOOT:last-child {
    width: 90%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  /* line 237, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOOOT {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 239, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOOOT:last-child {
    width: 98.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
/* line 248, grootstrap.scss */
.iamgroot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 250, grootstrap.scss */
.iamgroot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 254, grootstrap.scss */
.iamgrooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 256, grootstrap.scss */
.iamgrooot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 260, grootstrap.scss */
.iamgroooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 262, grootstrap.scss */
.iamgroooot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 266, grootstrap.scss */
.iamgrooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 268, grootstrap.scss */
.iamgrooooot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 272, grootstrap.scss */
.iamgroooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 274, grootstrap.scss */
.iamgroooooot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 278, grootstrap.scss */
.iamgrooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 280, grootstrap.scss */
.iamgrooooooot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 284, grootstrap.scss */
.iamgroooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 286, grootstrap.scss */
.iamgroooooooot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 290, grootstrap.scss */
.iamgrooooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 292, grootstrap.scss */
.iamgrooooooooot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 296, grootstrap.scss */
.iamgroooooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 298, grootstrap.scss */
.iamgroooooooooot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 302, grootstrap.scss */
.iamgrooooooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 304, grootstrap.scss */
.iamgrooooooooooot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 308, grootstrap.scss */
.iamgroooooooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 310, grootstrap.scss */
.iamgroooooooooooot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 314, grootstrap.scss */
.iamgrooooooooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 316, grootstrap.scss */
.iamgrooooooooooooot:last-child {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 322, grootstrap.scss */
  .IAmGroot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 324, grootstrap.scss */
  .IAmGroot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 328, grootstrap.scss */
  .IAmGrooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 330, grootstrap.scss */
  .IAmGrooot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 334, grootstrap.scss */
  .IAmGroooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 336, grootstrap.scss */
  .IAmGroooot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 340, grootstrap.scss */
  .IAmGrooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 342, grootstrap.scss */
  .IAmGrooooot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 346, grootstrap.scss */
  .IAmGroooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 348, grootstrap.scss */
  .IAmGroooooot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 352, grootstrap.scss */
  .IAmGrooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 354, grootstrap.scss */
  .IAmGrooooooot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 358, grootstrap.scss */
  .IAmGroooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 360, grootstrap.scss */
  .IAmGroooooooot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 364, grootstrap.scss */
  .IAmGrooooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 366, grootstrap.scss */
  .IAmGrooooooooot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 370, grootstrap.scss */
  .IAmGroooooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 372, grootstrap.scss */
  .IAmGroooooooooot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 376, grootstrap.scss */
  .IAmGrooooooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 378, grootstrap.scss */
  .IAmGrooooooooooot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 382, grootstrap.scss */
  .IAmGroooooooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 384, grootstrap.scss */
  .IAmGroooooooooooot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 388, grootstrap.scss */
  .IAmGrooooooooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 390, grootstrap.scss */
  .IAmGrooooooooooooot:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media all and (min-width: 61.25em) {
  /* line 397, grootstrap.scss */
  .IAMGROOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 399, grootstrap.scss */
  .IAMGROOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 403, grootstrap.scss */
  .IAMGROOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 405, grootstrap.scss */
  .IAMGROOOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 409, grootstrap.scss */
  .IAMGROOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 411, grootstrap.scss */
  .IAMGROOOOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 415, grootstrap.scss */
  .IAMGROOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 417, grootstrap.scss */
  .IAMGROOOOOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 421, grootstrap.scss */
  .IAMGROOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 423, grootstrap.scss */
  .IAMGROOOOOOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 427, grootstrap.scss */
  .IAMGROOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 429, grootstrap.scss */
  .IAMGROOOOOOOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 433, grootstrap.scss */
  .IAMGROOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 435, grootstrap.scss */
  .IAMGROOOOOOOOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 439, grootstrap.scss */
  .IAMGROOOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 441, grootstrap.scss */
  .IAMGROOOOOOOOOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 445, grootstrap.scss */
  .IAMGROOOOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 447, grootstrap.scss */
  .IAMGROOOOOOOOOOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 451, grootstrap.scss */
  .IAMGROOOOOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 453, grootstrap.scss */
  .IAMGROOOOOOOOOOOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 457, grootstrap.scss */
  .IAMGROOOOOOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 459, grootstrap.scss */
  .IAMGROOOOOOOOOOOOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 463, grootstrap.scss */
  .IAMGROOOOOOOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 465, grootstrap.scss */
  .IAMGROOOOOOOOOOOOOT:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

/*# sourceMappingURL=grootstrap.css.map */
