/* line 10, grootstrap.scss */
.we-are-groot, .wearegroot, .We-Are-Groot, .WeAreGroot, .WE-ARE-GROOT, .WEAREGROOT {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../Program Files (x86)/Prepros/gems/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.we-are-groot:after, .wearegroot:after, .We-Are-Groot:after, .WeAreGroot:after, .WE-ARE-GROOT:after, .WEAREGROOT:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 15, grootstrap.scss */
.i-am-groot {
  width: 6.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 17, grootstrap.scss */
.i-am-groot:last-child {
  width: 6.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 19, grootstrap.scss */
  .I-Am-Groot {
    width: 6.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 22, grootstrap.scss */
  .I-Am-Groot:last-child {
    width: 6.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 25, grootstrap.scss */
  .I-AM-GROOT {
    width: 6.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 28, grootstrap.scss */
  .I-AM-GROOT:last-child {
    width: 6.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 33, grootstrap.scss */
.i-am-grooot {
  width: 15%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 35, grootstrap.scss */
.i-am-grooot:last-child {
  width: 15%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 37, grootstrap.scss */
  .I-Am-Grooot {
    width: 15%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 40, grootstrap.scss */
  .I-Am-Grooot:last-child {
    width: 15%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 43, grootstrap.scss */
  .I-AM-GROOOT {
    width: 15%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 46, grootstrap.scss */
  .I-AM-GROOOT:last-child {
    width: 15%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 51, grootstrap.scss */
.i-am-groooot {
  width: 23.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 53, grootstrap.scss */
.i-am-groooot:last-child {
  width: 23.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 55, grootstrap.scss */
  .I-Am-Groooot {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 58, grootstrap.scss */
  .I-Am-Groooot:last-child {
    width: 23.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 61, grootstrap.scss */
  .I-AM-GROOOOT {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 64, grootstrap.scss */
  .I-AM-GROOOOT:last-child {
    width: 23.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 69, grootstrap.scss */
.i-am-grooooot {
  width: 31.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 71, grootstrap.scss */
.i-am-grooooot:last-child {
  width: 31.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 73, grootstrap.scss */
  .I-Am-Grooooot {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 76, grootstrap.scss */
  .I-Am-Grooooot:last-child {
    width: 31.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 79, grootstrap.scss */
  .I-AM-GROOOOOT {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 82, grootstrap.scss */
  .I-AM-GROOOOOT:last-child {
    width: 31.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 87, grootstrap.scss */
.i-am-groooooot {
  width: 40%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 89, grootstrap.scss */
.i-am-groooooot:last-child {
  width: 40%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 91, grootstrap.scss */
  .I-Am-Groooooot {
    width: 40%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 94, grootstrap.scss */
  .I-Am-Groooooot:last-child {
    width: 40%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 97, grootstrap.scss */
  .I-AM-GROOOOOOT {
    width: 40%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 100, grootstrap.scss */
  .I-AM-GROOOOOOT:last-child {
    width: 40%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 105, grootstrap.scss */
.i-am-grooooooot {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 107, grootstrap.scss */
.i-am-grooooooot:last-child {
  width: 48.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 109, grootstrap.scss */
  .I-Am-Grooooooot {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 112, grootstrap.scss */
  .I-Am-Grooooooot:last-child {
    width: 48.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 115, grootstrap.scss */
  .I-AM-GROOOOOOOT {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 118, grootstrap.scss */
  .I-AM-GROOOOOOOT:last-child {
    width: 48.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 123, grootstrap.scss */
.i-am-groooooooot {
  width: 56.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 125, grootstrap.scss */
.i-am-groooooooot:last-child {
  width: 56.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 127, grootstrap.scss */
  .I-Am-Groooooooot {
    width: 56.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 130, grootstrap.scss */
  .I-Am-Groooooooot:last-child {
    width: 56.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 133, grootstrap.scss */
  .I-AM-GROOOOOOOOT {
    width: 56.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 136, grootstrap.scss */
  .I-AM-GROOOOOOOOT:last-child {
    width: 56.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 141, grootstrap.scss */
.i-am-grooooooooot {
  width: 65%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 143, grootstrap.scss */
.i-am-grooooooooot:last-child {
  width: 65%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 145, grootstrap.scss */
  .I-Am-Grooooooooot {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 148, grootstrap.scss */
  .I-Am-Grooooooooot:last-child {
    width: 65%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 151, grootstrap.scss */
  .I-AM-GROOOOOOOOOT {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 154, grootstrap.scss */
  .I-AM-GROOOOOOOOOT:last-child {
    width: 65%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 159, grootstrap.scss */
.i-am-groooooooooot {
  width: 73.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 161, grootstrap.scss */
.i-am-groooooooooot:last-child {
  width: 73.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 163, grootstrap.scss */
  .I-Am-Groooooooooot {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 166, grootstrap.scss */
  .I-Am-Groooooooooot:last-child {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 169, grootstrap.scss */
  .I-AM-GROOOOOOOOOOT {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 172, grootstrap.scss */
  .I-AM-GROOOOOOOOOOT:last-child {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 177, grootstrap.scss */
.i-am-grooooooooooot {
  width: 81.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 179, grootstrap.scss */
.i-am-grooooooooooot:last-child {
  width: 81.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 181, grootstrap.scss */
  .I-Am-Grooooooooooot {
    width: 81.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 184, grootstrap.scss */
  .I-Am-Grooooooooooot:last-child {
    width: 81.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 187, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOT {
    width: 81.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 190, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOT:last-child {
    width: 81.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 195, grootstrap.scss */
.i-am-groooooooooooot {
  width: 90%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 197, grootstrap.scss */
.i-am-groooooooooooot:last-child {
  width: 90%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 199, grootstrap.scss */
  .I-Am-Groooooooooooot {
    width: 90%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 202, grootstrap.scss */
  .I-Am-Groooooooooooot:last-child {
    width: 90%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 205, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOOT {
    width: 90%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 208, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOOT:last-child {
    width: 90%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 213, grootstrap.scss */
.i-am-grooooooooooooot {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 215, grootstrap.scss */
.i-am-grooooooooooooot:last-child {
  width: 98.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 217, grootstrap.scss */
  .I-Am-Grooooooooooooot {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 220, grootstrap.scss */
  .I-Am-Grooooooooooooot:last-child {
    width: 98.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 223, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOOOT {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 226, grootstrap.scss */
  .I-AM-GROOOOOOOOOOOOOT:last-child {
    width: 98.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 231, grootstrap.scss */
.iamgroot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 233, grootstrap.scss */
.iamgroot:last-child {
  width: 6.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 235, grootstrap.scss */
  .IAmGroot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 238, grootstrap.scss */
  .IAmGroot:last-child {
    width: 6.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 241, grootstrap.scss */
  .IAMGROOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 244, grootstrap.scss */
  .IAMGROOT:last-child {
    width: 6.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 249, grootstrap.scss */
.iamgrooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 251, grootstrap.scss */
.iamgrooot:last-child {
  width: 15%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 253, grootstrap.scss */
  .IAmGrooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 256, grootstrap.scss */
  .IAmGrooot:last-child {
    width: 15%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 259, grootstrap.scss */
  .IAMGROOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 262, grootstrap.scss */
  .IAMGROOOT:last-child {
    width: 15%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 267, grootstrap.scss */
.iamgroooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 269, grootstrap.scss */
.iamgroooot:last-child {
  width: 23.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 271, grootstrap.scss */
  .IAmGroooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 274, grootstrap.scss */
  .IAmGroooot:last-child {
    width: 23.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 277, grootstrap.scss */
  .IAMGROOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 280, grootstrap.scss */
  .IAMGROOOOT:last-child {
    width: 23.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 285, grootstrap.scss */
.iamgrooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 287, grootstrap.scss */
.iamgrooooot:last-child {
  width: 31.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 289, grootstrap.scss */
  .IAmGrooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 292, grootstrap.scss */
  .IAmGrooooot:last-child {
    width: 31.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 295, grootstrap.scss */
  .IAMGROOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 298, grootstrap.scss */
  .IAMGROOOOOT:last-child {
    width: 31.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 303, grootstrap.scss */
.iamgroooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 305, grootstrap.scss */
.iamgroooooot:last-child {
  width: 40%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 307, grootstrap.scss */
  .IAmGroooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 310, grootstrap.scss */
  .IAmGroooooot:last-child {
    width: 40%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 313, grootstrap.scss */
  .IAMGROOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 316, grootstrap.scss */
  .IAMGROOOOOOT:last-child {
    width: 40%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 321, grootstrap.scss */
.iamgrooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 323, grootstrap.scss */
.iamgrooooooot:last-child {
  width: 48.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 325, grootstrap.scss */
  .IAmGrooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 328, grootstrap.scss */
  .IAmGrooooooot:last-child {
    width: 48.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 331, grootstrap.scss */
  .IAMGROOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 334, grootstrap.scss */
  .IAMGROOOOOOOT:last-child {
    width: 48.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 339, grootstrap.scss */
.iamgroooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 341, grootstrap.scss */
.iamgroooooooot:last-child {
  width: 56.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 343, grootstrap.scss */
  .IAmGroooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 346, grootstrap.scss */
  .IAmGroooooooot:last-child {
    width: 56.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 349, grootstrap.scss */
  .IAMGROOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 352, grootstrap.scss */
  .IAMGROOOOOOOOT:last-child {
    width: 56.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 357, grootstrap.scss */
.iamgrooooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 359, grootstrap.scss */
.iamgrooooooooot:last-child {
  width: 65%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 361, grootstrap.scss */
  .IAmGrooooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 364, grootstrap.scss */
  .IAmGrooooooooot:last-child {
    width: 65%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 367, grootstrap.scss */
  .IAMGROOOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 370, grootstrap.scss */
  .IAMGROOOOOOOOOT:last-child {
    width: 65%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 375, grootstrap.scss */
.iamgroooooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 377, grootstrap.scss */
.iamgroooooooooot:last-child {
  width: 73.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 379, grootstrap.scss */
  .IAmGroooooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 382, grootstrap.scss */
  .IAmGroooooooooot:last-child {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 385, grootstrap.scss */
  .IAMGROOOOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 388, grootstrap.scss */
  .IAMGROOOOOOOOOOT:last-child {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 393, grootstrap.scss */
.iamgrooooooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 395, grootstrap.scss */
.iamgrooooooooooot:last-child {
  width: 81.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 397, grootstrap.scss */
  .IAmGrooooooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 400, grootstrap.scss */
  .IAmGrooooooooooot:last-child {
    width: 81.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 403, grootstrap.scss */
  .IAMGROOOOOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 406, grootstrap.scss */
  .IAMGROOOOOOOOOOOT:last-child {
    width: 81.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 411, grootstrap.scss */
.iamgroooooooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 413, grootstrap.scss */
.iamgroooooooooooot:last-child {
  width: 90%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 415, grootstrap.scss */
  .IAmGroooooooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 418, grootstrap.scss */
  .IAmGroooooooooooot:last-child {
    width: 90%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 421, grootstrap.scss */
  .IAMGROOOOOOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 424, grootstrap.scss */
  .IAMGROOOOOOOOOOOOT:last-child {
    width: 90%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/* line 429, grootstrap.scss */
.iamgrooooooooooooot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 431, grootstrap.scss */
.iamgrooooooooooooot:last-child {
  width: 98.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

@media all and (min-width: 46.25em) {
  /* line 433, grootstrap.scss */
  .IAmGrooooooooooooot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 436, grootstrap.scss */
  .IAmGrooooooooooooot:last-child {
    width: 98.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

@media all and (min-width: 61.25em) {
  /* line 439, grootstrap.scss */
  .IAMGROOOOOOOOOOOOOT {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 442, grootstrap.scss */
  .IAMGROOOOOOOOOOOOOT:last-child {
    width: 98.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

/*# sourceMappingURL=grootstrap.css.map */
